.site-footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $light-gray;

          &.instagram:hover {
            color: #00b200;
          }
          &.facebook:hover {
            color: #00b200;
          }
          &.twitter:hover {
            color: #00b200;
          }
          &.google:hover {
            color: #00b200;
          }
          &.linkedin:hover {
            color: #00b200;
          }
        }
      }
    }
  }
}
